.feedContainer {
  /* display: flex; */
  flex-basis: 55%;
}
.feedContainer .feedPostContainer {
  background-color: white;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.feedContainer .feedPostContainer .feedPost {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px 10px 10px 15px;
  color: gray;
}

.feedContainer .feedPostContainer .feedPost .feedPostForm {
  display: flex;
  width: 100%;
}

.feedContainer .feedPostContainer .feedPost .feedPostForm .feedPostInput {
  border: none;
  outline: none;
  flex-basis: 100%;
}

.feedContainer .feedPostContainer .feedPost .feedPostForm .feedPostInputBtn {
  display: none;
}
.feedContainer .feedPostContainer .feedPostOptionContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
