.widgetsContainer {
  position: sticky;
  top: 80px;
  flex-basis: 20%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: fit-content;
}

.widgetsContainer .widgetsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.widgetsContainer .widgetsHeader .widgetsHeader {
  font-size: 16px;
  font-weight: 400;
}

.widgetsContainer .widgetsArticles {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.widgetsContainer .widgetsArticles:hover {
  background-color: whitesmoke;
}

.widgetsContainer .widgetsArticles .widgetsLeft {
  color: #0177b7;
  margin-right: 5px;
}

.widgetsContainer .widgetsArticles .widgetsRight h4 {
  font-size: 14px;
}

.widgetsContainer .widgetsArticles .widgetsRight p {
  color: gray;
  font-size: 12px;
}
